<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <title>Document</title>
</head>
<body >
<nav class="navbar navbar-expand-sm bg-secondary">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark"  href="#"><i class="fa fa-cloud" ></i>UTAP</a>
        </li>
    </ul>
    <ul class="navbar-nav align-items-end">
        <li class="nav-item">
            <a class="nav-link text-dark"   href="#"><i class="fa fa-user" ></i>{{ name }}</a>
        </li>
    </ul>
    <ul class="navbar-nav align-items-end">
        <li class="nav-item">
            <a class="nav-link text-dark"   href={% url "login" %}><i class="fa fa-sign-out" ></i>Logout</a>
        </li>
    </ul>

</nav>


<div class="container-fluid">


    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="  col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>DashBoard</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">Setup</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">Configure</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">Execute</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">Monitor</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">Report</span></a>
                        </li>


                    </ul>

                </div>
            </nav>
        </aside>

</div>

</div>


<script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>